html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", serif;
}

.container {
  width: 100%;
  min-width: 1300px;
}

header {
  position: relative;
  width: 100%;
  height: 58px;
  overflow: hidden;
  font-size: 0;
  .logo {
    display: inline-block;
    height: 58px;
    line-height: 58px;
    margin-left: 5%;
    img {
      vertical-align: middle;
    }
    .logo-name {
      margin-left: 10px;
      font-size: 2rem;
      vertical-align: middle;
      text-decoration: none;
      color: #000;
    }
  }
  .nav {
    position: absolute;
    top: 0;
    right: -5%;
    display: inline-block;
    width: 46%;
    height: 58px;
    ul {
      padding: 0;
      width: 100%;
      height: 58px;
      list-style: none;
      font-size: 0;
      li {
        display: inline-block;
        margin-right: 5%;
        a {
          display: block;
          box-sizing: border-box;
          width: 65px;
          height: 58px;
          line-height: 58px;
          font-size: 1.4rem;
          text-align: center;
          text-decoration: none;
          color: #787b83;
          transition: all 0.1s;
          &.login {
            background: url('../images/login.png') no-repeat;
            background-position: 8px center;
            color: #ff666a;
            span {
              margin-left: 18px;
            }
          }
          &:hover {
            color: #ff666a;
            border-bottom: 4px solid #ff666a;
          }
        }
      }
    }
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 690px;
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .banner-des {
    position: absolute;
    top: 228px;
    left: 116px;
    color: #fff;
    z-index: 2;
    h2 {
      margin: 0;
      font-size: 50px;
      font-weight: 400;
    }
    p {
      margin: 10px 0 0 10px;
      width: 300px;
      font-size: 20px;
      line-height: 1.5;
    }
    .btn {
      margin: 68px 0 0 10px;
      width: 330px;
      height: 64px;
      line-height: 64px;
      background-color: #e7504e;
      text-align: center;
      font-size: 28px;
    }
  }
}